<div class="container">
  <div class="password-create-container">
    <div class="logo">
      <img
        class="logo-img"
        src="assets/images/logo.png"
        alt="logo" />
    </div>
    <div class="password-create-form compact-form-field-area">
      <h2 class="title">Смена пароля</h2>
      <form
        [formGroup]="form"
        class="form">
        <mat-form-field
          appearance="outline"
          class="login-form-field">
          <mat-label>Текущий пароль</mat-label>
          <input
            formControlName="current_password"
            matInput
            [type]="hide1 ? 'password' : 'text'"
            autocomplete="current-password" />
          <mat-icon
            class="visibility-icon"
            matSuffix
            (click)="hide1 = !hide1"
            >{{ hide1 ? 'visibility' : 'visibility_off' }}</mat-icon
          >
          <mat-error mat-error-ext></mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="login-form-field">
          <mat-label>Новый пароль</mat-label>
          <input
            formControlName="new_password"
            matInput
            [type]="hide2 ? 'password' : 'text'"
            autocomplete="new-password" />
          <mat-icon
            class="visibility-icon"
            matSuffix
            (click)="hide2 = !hide2"
            >{{ hide2 ? 'visibility' : 'visibility_off' }}</mat-icon
          >
          <mat-error mat-error-ext></mat-error>
        </mat-form-field>
      </form>
      <div class="buttons">
        <button
          class="password-create-btn"
          [buttonLoading]="loading"
          [disabled]="form.invalid"
          (click)="changePassword()"
          mat-flat-button>
          Сменить пароль
        </button>
      </div>
    </div>
  </div>
</div>
