<div class="app-content">
  <app-nav-bar></app-nav-bar>
  <app-active-diffs-table />
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- Landscape warning -->
<div class="landscape-warning">
  <div class="landscape-warning-content">
    <p class="landscape-warning-text">Приложение работает только в альбомном режиме.</p>
    <p class="landscape-warning-text">Переверните устройство.</p>
    <mat-icon class="landscape-warning-icon">screen_rotation</mat-icon>
  </div>
</div>
