.add-class {
  background-color: var(--side-panel-bg);
}
.button-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.mat-mdc-form-field {
  width: 100%;
}
