<div class="edit-association">
  <div
    [formGroup]="form"
    class="dialog-content-wrapper compact-form-field-area">
    <mat-form-field appearance="outline">
      <mat-label>Название</mat-label>
      <input
        formControlName="name"
        matInput
        type="text" />
      <mat-error mat-error-ext></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Описание</mat-label>
      <input
        formControlName="description"
        matInput
        type="text" />
      <mat-error mat-error-ext></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Комментарий</mat-label>
      <input
        formControlName="explanation"
        matInput
        type="text" />
      <mat-error mat-error-ext></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Множественность</mat-label>
      <mat-select formControlName="multiplicity">
        @for(item of multiplicityOptions; track item) {
        <mat-option [value]="multiplicity[item]">{{ item }}</mat-option>
        }
      </mat-select>
      <mat-error mat-error-ext></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Начальный класс</mat-label>
      <mat-select formControlName="initial_class">
        @for(item of classList$ | async; track item) {
        <mat-option [value]="item.id">{{ item.class_name }}</mat-option>
        }
      </mat-select>
      <mat-error mat-error-ext></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Конечный класс</mat-label>
      <mat-select formControlName="final_class">
        @for(item of classList$ | async; track item) {
        <mat-option [value]="item.id">{{ item.class_name }}</mat-option>
        }
      </mat-select>
      <mat-error mat-error-ext></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Префикс</mat-label>
      <mat-select formControlName="association_prefix">
        @for(item of prefixList$ | async; track item) {
        <mat-option [value]="item.id">{{ item.short_name }}</mat-option>
        }
      </mat-select>
      <mat-error mat-error-ext></mat-error>
    </mat-form-field>
  </div>
  <div class="button-block">
    <button
      mat-flat-button
      [buttonLoading]="saveLoading"
      [disabled]="form.invalid"
      (click)="editAssociation()">
      Редактировать
    </button>
    <button
      mat-button
      [mat-dialog-close]="false">
      Отменить
    </button>
  </div>
</div>
