<div class="edit-class">
  <div
    [formGroup]="form"
    class="dialog-content-wrapper compact-form-field-area">
    <mat-form-field appearance="outline">
      <mat-label>Название класса</mat-label>
      <input
        formControlName="class_name"
        matInput
        type="text" />
      <mat-error mat-error-ext></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Описание</mat-label>
      <input
        formControlName="description"
        matInput
        type="text" />
      <mat-error mat-error-ext></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Комментарий</mat-label>
      <input
        formControlName="explanation"
        matInput
        type="text" />
      <mat-error mat-error-ext></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Родительский класс</mat-label>
      <mat-select formControlName="parent">
        @for(item of classList$ | async; track item) {
        <mat-option [value]="item.id">{{ item.class_name }}</mat-option>
        }
      </mat-select>
      <mat-error mat-error-ext></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Префикс</mat-label>
      <mat-select formControlName="class_prefix">
        @for(item of prefixList$ | async; track item) {
        <mat-option [value]="item.id">{{ item.short_name }}</mat-option>
        }
      </mat-select>
      <mat-error mat-error-ext></mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="is_library">Справочник</mat-checkbox>
  </div>
  <div class="button-block">
    <button
      mat-flat-button
      [buttonLoading]="saveLoading"
      [disabled]="form.invalid"
      (click)="editClass()">
      Редактировать
    </button>
    <button
      mat-button
      [mat-dialog-close]="false">
      Отменить
    </button>
  </div>
</div>
