$progress-line-background-color: #fff;
$progress-line-color: var(--divider);
$progress-line-animatioon-speed: 1s;
$container-background: var(--bg);

// Container
#app-loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $container-background;
}

// Progress line
.app-loader {
  &__progress-line,
  &__progress-line:before {
    height: 4px;
    width: 120px;
    margin: 0;
  }
  &__progress-line {
    background-color: $progress-line-background-color;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    margin-top: 12px;
  }
  &__progress-line:before {
    content: '';
    background-color: $progress-line-color;
    transform-origin: 0% 50%;
    -webkit-animation: running-progress $progress-line-animatioon-speed linear infinite;
    animation: running-progress $progress-line-animatioon-speed linear infinite;
  }
}

@-webkit-keyframes running-progress {
  0% {
    transform: translatex(-40%) scaleX(0.4);
  }
  40% {
    transform: translatex(0) scaleX(0.4);
  }
  60% {
    transform: translatex(20%) scaleX(0.6);
  }
  100% {
    transform: translatex(100%) scaleX(0.4);
  }
}

@keyframes running-progress {
  0% {
    transform: translatex(-40%) scaleX(0.4);
  }
  40% {
    transform: translatex(0) scaleX(0.4);
  }
  60% {
    transform: translatex(20%) scaleX(0.6);
  }
  100% {
    transform: translatex(100%) scaleX(0.4);
  }
}
