.role-groups {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100%;
}
.role-groups-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.role-group-list {
  width: 100%;
  height: calc(100% - 80px);
  overflow: auto;
}
.options-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: var(--text-color);
}
.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  width: 100%;
  padding: 0 12px 0 24px;
  margin-bottom: 5px;
  cursor: pointer;
  &:hover {
    background-color: var(--element-hover-2);
  }
  &.active {
    background-color: var(--element-active-bg);
  }
}
.delete-icon {
  cursor: pointer;
  color: var(--text-color);
}
.group-name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-color);
  margin: 0;
}
.action-panel {
  display: flex;
  align-items: center;
  padding: 15px 24px;
  gap: 10px;
}
