:root {
  --bg: #1c2024;
  --layer: #101418;
  --light-blue-bg: #389fd2;
  --light-blue-bg-lighten: #5fb6e2;
  --element-active-bg: #32393d;
  --side-panel-bg: #282b2f;
  --element-hover: #6f7579;
  --element-hover-2: #32393d;
  --active: #5a8da6;
  --text-color: #c7c7c7;
  --text-color-grey: #b4babd;
  --text-color-light-grey: #d0d0d0;
  --text-color-dark: #978f8f;
  --text-color-light: #a1d3eb;
  --text-color-light-blue: #389fd2;
  --text-color-light-blue-lighten: rgba(148, 219, 243, 1);
  --text-white: #ffffff;
  --text-notification: #98a8b1;
  --bg-notification: #2a2d31;
  --border-color: #414e56;
  --bg-gray: #393d42;
  --dark-gray: #23272b;
  --scroll-track: #77a2ba3d;
  --scroll-thumb-default: #6ab2e15c;
  --scroll-thumb-active: #389fd2;
  --divider: #414e56;
  --color-black: #000;
  --selected: #2e3034;
  --graph-node: #ebebeb;
  --map-popup-hover: #ebebeb;
  --waiting: orange;
  --error: #c65d56;
  --success: #76b96b;
  --table-head-background: #282b30;
  --table-head-text: #9ba6ab;
  --slide-toggle-bg: #ffffff0f;
  --button-color: rgba(255, 255, 255, 0.16);
  --button-color-hover: rgba(255, 255, 255, 0.24);
  --button-color-active: #389fd2;
  --empty-text-color: #ffffff99;
  --empty-icon-color: #ffffff4d;
  --button-color-inactive: rgba(255, 255, 255, 0.36);
  --button-color-green: #55aa47;
  --light-blue-border: #389fd2;
  --radio-light-blue: #389fd2;
  --expand-icon-color: rgba(153, 93, 93, 0.4);
  --tree-node-hover: rgba(50, 57, 61, 1);
  --form-field-disabled: rgba(255, 255, 255, 0.08);
  --table-bg-dark: #1c2024;
  --button-darken: #ffffff14;
  --button-darken-shadow: #00000040;
  --border-shadow: #00000033;
  --chip-bg: #ffffff12;
  --skeleton-bg: #ffffff12;
  --breadcrumbs-bg: #272a2f;
  --dialog-bg: #272a2f;
}
