.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  height: 64px;
  border-bottom: 1px solid var(--color-black);
}

.div-button-round {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  margin-left: 24px;
  border-radius: 50%;
  color: var(--light-blue-bg);
  background-color: var(--element-active-bg);
  cursor: pointer;
  &:hover {
    background-color: var(--element-hover);
  }
}

.title {
  margin: 0;
  color: var(--text-color-grey);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
