<div
  [appCheckScroll]
  class="table-container">
  @if(logsList.length) {
  <table
    mat-table
    matSort
    (matSortChange)="dataSource.sort = sort"
    [dataSource]="dataSource"
    class="table">
    <ng-container matColumnDef="journal_name">
      <th
        *matHeaderCellDef
        mat-header-cell>
        Название журнала
      </th>
      <td
        *matCellDef="let element"
        mat-cell>
        {{ element.journal_name | default }}
      </td>
    </ng-container>
    <ng-container matColumnDef="level">
      <th
        *matHeaderCellDef
        mat-header-cell>
        Вид записи
      </th>
      <td
        *matCellDef="let element"
        mat-cell>
        {{ element.level | translateStatus | default }}
      </td>
    </ng-container>
    <ng-container matColumnDef="log">
      <th
        *matHeaderCellDef
        mat-header-cell>
        Описание
      </th>
      <td
        *matCellDef="let element"
        mat-cell>
        <p
          [overflowTooltip]="element.log"
          class="text">
          {{ element.log | default }}
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef="source">
      <th
        *matHeaderCellDef
        mat-header-cell>
        Источник
      </th>
      <td
        *matCellDef="let element"
        mat-cell>
        {{ element.source | default }}
      </td>
    </ng-container>
    <ng-container matColumnDef="point">
      <th
        *matHeaderCellDef
        mat-header-cell>
        Место происхождения ошибки
      </th>
      <td
        *matCellDef="let element"
        mat-cell>
        {{ element.point | default }}
      </td>
    </ng-container>
    <ng-container matColumnDef="added_utc">
      <th
        *matHeaderCellDef
        mat-header-cell
        mat-sort-header>
        Дата создания
      </th>
      <td
        *matCellDef="let element"
        mat-cell>
        {{ element.added_utc | date: dateFormat | default }}
      </td>
    </ng-container>
    <ng-container matColumnDef="extra">
      <th
        *matHeaderCellDef
        mat-header-cell>
        Дополнительная информация
      </th>
      <td
        *matCellDef="let element"
        mat-cell>
        <p
          class="text"
          [overflowTooltip]="element.extra">
          {{ element.extra | default }}
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef="timestamp">
      <th
        *matHeaderCellDef
        mat-header-cell
        mat-sort-header>
        Метка времени
      </th>
      <td
        *matCellDef="let element"
        mat-cell>
        {{ element.timestamp | date: dateFormat | default }}
      </td>
    </ng-container>

    <tr
      *matHeaderRowDef="columns; sticky: true"
      mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: columns"
      mat-row></tr>
  </table>
  } @else {
  <app-empty-template>
    <mat-icon fontSize="material-icons-outlined">error_outlined</mat-icon>
    <p>Не найдено ни одной записи</p>
  </app-empty-template>

  }
</div>
