<!-- <app-work-area>
  <app-work-area-side-panel></app-work-area-side-panel> -->
<!-- <div
  api-resolver
  [errorCode]="errorCode"
  [errorMessage]="errorMessage"
  [loading]="loading"
  (reload)="reloadGraph()"
  class="container">
  <div class="actions">
    <app-action-panel
      [history]="history"
      (loadGraph)="getGraph()"
      (onModeChanged)="changeMode($event)"
      (onItemDeleted)="deleteFromHistory($event)"
      (onItemSelected)="selectHistoryItem($event)" />
  </div>
  <div class="graph-wrapper">
    <div id="container"></div>
    <div id="textGroup"></div>
  </div>
</div> -->
<!-- </app-work-area> -->
