<div
  (click)="$event.stopPropagation()"
  class="tree-container"
  [class.expanding]="treeExpanding">
  <!-- <div class="action-panel">
    <app-search-field
      class="search"
      (search)="onSearchValueChanged($event)" />
  </div> -->
  <div
    api-resolver
    [errorCode]="errorCode"
    [errorMessage]="errorMessage"
    [loading]="initLoading"
    (reload)="getTree()"
    class="tree">
    <ng-container *ngIf="dataSource.data.length; else emptyTree">
      <mat-tree
        #treeSelector
        [dataSource]="dataSource"
        [treeControl]="treeControl">
        <mat-tree-node
          *matTreeNodeDef="let node"
          matTreeNodePadding
          [class.selected]="node.id === selectedNode"
          [class.selectable]="node.selectable"
          [id]="node.id"
          class="tree-node"
          (click)="toggleNode(node)">
          <div class="node-section">
            <div class="toggle-section">
              <button
                mat-icon-button
                matIconButtonCustom
                [class.hidden]="!node.expandable"
                [width]="24"
                [height]="24"
                [iconsSize]="20"
                [attr.aria-label]="'Toggle ' + node.id"
                matTreeNodeToggle>
                <mat-icon
                  [class.selected]="node.id === selectedNode"
                  class="expand-icon">
                  {{ treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right' }}
                </mat-icon>
              </button>
              @if (!singleSelection && node.selectable) {
              <mat-checkbox
                [checked]="checkedNodes.includes(node.id)"
                (change)="checkNodes(node)" />
              }
              <mat-icon
                [class.selected]="node.id === selectedNode"
                class="icon">
                description
              </mat-icon>
            </div>
            <p
              [class.selected]="node.id === selectedNode"
              [overflowTooltip]="node.title"
              class="title">
              {{ node.title }}
            </p>
            <mat-spinner
              *ngIf="node.loading"
              diameter="20"></mat-spinner>
          </div>
        </mat-tree-node>
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
          [class.selectable]="node.selectable"
          [class.selected]="node.id === selectedNode"
          [id]="node.id"
          class="tree-node"
          (click)="toggleNode(node)">
          <div class="node-section">
            <div class="toggle-section">
              <button
                mat-icon-button
                matIconButtonCustom
                [class.hidden]="!node.expandable"
                [width]="24"
                [height]="24"
                [iconsSize]="20"
                [attr.aria-label]="'Toggle ' + node.id"
                matTreeNodeToggle>
                <mat-icon
                  [class.selected]="node.id === selectedNode"
                  class="expand-icon">
                  {{ treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right' }}
                </mat-icon>
              </button>
              @if (!singleSelection && node.selectable) {
              <mat-checkbox
                [checked]="checkedNodes.includes(node.id)"
                (change)="checkNodes(node)" />
              }
              <mat-icon
                [class.selected]="node.id === selectedNode"
                class="icon">
                description
              </mat-icon>
            </div>
            <p
              [class.selected]="node.id === selectedNode"
              [overflowTooltip]="node.title"
              class="title">
              {{ node.title }}
            </p>
            <mat-spinner
              *ngIf="node.loading"
              diameter="20"></mat-spinner>
          </div>
        </mat-tree-node>
      </mat-tree>
    </ng-container>
    <ng-template #emptyTree>
      <app-empty-template>
        <p>В дереве нет элементов</p>
        <mat-icon>info</mat-icon>
      </app-empty-template>
    </ng-template>
  </div>
</div>
